/.idea/dataSources.xml
/.idea/description.html
*.class
*.jar
/.idea/encodings.xml
/.idea/dataSources/194dc0c5-262c-4a2e-82b0-5a0675fa2b7c/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/JDBC-demo.iml
/.idea/artifacts/JDBC_demo_jar.xml
/out/production/JDBC-demo/META-INF/MANIFEST.MF
/src/META-INF/MANIFEST.MF
/.idea/misc.xml
/.idea/dataSources/194dc0c5-262c-4a2e-82b0-5a0675fa2b7c/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/194dc0c5-262c-4a2e-82b0-5a0675fa2b7c/storage_v2/_src_/schema/nerdygadgets.N_xGzQ.meta
/.idea/dataSources/194dc0c5-262c-4a2e-82b0-5a0675fa2b7c/storage_v2/_src_/schema/nerdygadgets.N_xGzQ.zip
/.idea/dataSources/194dc0c5-262c-4a2e-82b0-5a0675fa2b7c/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/project-template.xml
/.idea/uiDesigner.xml
/.idea/libraries/mysql_connector_java_8_0_24.xml
